.githubLink {
  position: fixed;
  top: 1rem;
  right: 1.25rem;
  z-index: 1001;
  color: #a0a0a0;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
  max-width: 2rem;
}

.githubLink:hover {
  color: #a0a0a0;
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 1279px) {
  .githubLink {
    top: 0.8rem;
    right: 1rem;
  }
}
